@model MvcProje.Models.Entitiy.TBLKategoriler
@{
    ViewBag.Title = "KategoriGuncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Kategori Güncelle</h3>
<br />
<form class="form-group" method="post">
    @Html.HiddenFor(x=>x.KategoriId)
    @Html.HiddenFor(x=>x.KategoriId)
    @Html.Label("Kategori Adı")
    <br />
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>

