
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mvc Stok Panel</title>
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Stok Panel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/Kategori/Index/">Kategoriler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Urunler/Index/">Ürünler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Musteriler/Index/">Müşteriler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Satislar/Index/">Satışlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Yardım</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Aranacak Kelime" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Ara</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
