@model  MvcProje.Models.Entitiy.TBLSatis
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>
<button></button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Satış Yapma Ekranı</h3>
            </div>
            <form method="post" class="modal-body">
                <div class="modal-body">
                    <Label>Ürün Adı</Label>
                    @Html.TextBoxFor(x => x.Urun, new { @class = "form-control" })
                    <br />
                    <Label>Müşteri Adı</Label>
                    @Html.TextBoxFor(x => x.Musteri, new { @class = "form-control" })
                    <br />
                    <Label>Adet</Label>
                    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
                    <br />
                    <Label>Fiyat</Label>
                    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-info">Satış Yap</button>
                </div>
            </form>
        </div>
    </div>
</div>